html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*,*::before, *::after {
  box-sizing: inherit;
}
.masthead {
  background-image: url("../images/beetle.svg"), url("../images/beetle.svg"), url("../images/waves.png");
  padding-top: 0;
  background-size: 60px auto, 60px auto, 100px auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left 15px,right 15px;
  text-align: center;
  font-size: 2em;
  color: rgb(90, 42, 42);
}

h1{
  margin: 0;
  padding: 0;

}
nav{

  display: block;
  text-align: center;
  overflow: hidden;
}
nav a{
  overflow: hidden;
  display: block;
  padding: 0.5em;
  color: black;
  text-decoration: none;
  /*background-color:rgb(90, 42, 42);*/

  /*position: relative;*/
}
nav a:hover{
  background-color: black;
  border: 5px;
}
nav li{
  height: 100%;
  overflow:hidden;
  margin: 0;
  float: left;
  width: 25%;
  display: inline-block;
  font-size: .75em;
  /*background-color:rgba(90, 42, 42, 0.5);*/

}
nav ol{
  background-color: rgba(90, 42, 42, 0.5);
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body{
  margin: 0;

}
.dirt{
  /*height: 70vw;*/
  overflow: hidden;
  position: relative;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}
div img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}
p{
  position: relative;
  text-align: center;
  color: #ffffff;
  /*padding: 3em 1em 1em 10em;*/
  display: inline-block;
  bottom: 7em;
  margin: 0;
  width: 100%
}
.ant {
  display: inline-block;
  width: 50%;
  clear: both;
}
.antbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  right: -50px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  font-size: 20px;
  box-shadow: 8px 5px 10px black;

}
.stag {
  display: inline-block;
  width: 50%;
  float: right;
  display: inline;
}
.stagbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  left: 80px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  box-shadow: 8px 5px 10px black;
  font-size: 20px;
}
.dung {
  display: inline-block;
  width: 50%;
}
.dungbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  right: -50px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  font-size: 20px;
  box-shadow: 8px 5px 10px black;
}
.tortoise {
  display: block;
  width: 50%;
  float: right;
}
.tortbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  left: 80px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  box-shadow: 8px 5px 10px black;
  font-size: 20px;

}
footer{
  background-color: rgba(81,34,0,0.5);
  text-align: center;
}
.bottombug{
  display: inline;
  height: 3em;
  opacity: 1;
}
