html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

*,*::before, *::after {
  box-sizing: inherit;
}
.masthead {
  background-image: url("../images/beetle.svg"), url("../images/beetle.svg"), url("../images/waves.png");
  padding-top: 0;
  background-size: 60px auto, 60px auto, 100px auto;
  background-repeat: no-repeat, no-repeat, repeat;
  background-position: left 15px,right 15px;
  text-align: center;
  font-size: 2em;
  color: rgb(90, 42, 42);
}

h1{
  margin: 0;
  padding: 0;

}
nav{
  text-align: center;
}
nav a{
  display: block;
  list-style-type: none;
  padding: 0.5em;
  color: black;
  background-color:rgb(90, 42, 42);

  position: relative;
}
nav a:hover{
  background-color: black;
  border: 5px;
}
nav li{
  margin: 0;
  float: left;
  width: 25%;
  display: inline-block;
  font-size: .75em;

}
nav ol{
  text-decoration: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
body{
  margin: 0;

}
.dirt{
  position: relative;
  width: 100%;
  display: inline-block;
}
div img{
  width: 100%;
}
p{
  position: relative;
  text-align: center;
  color: #ffffff;
  padding: 3em 1em 1em 10em;
  display: inline-block;
  bottom: 7em;
  margin: 0;
}
.ant {
  width: 50%;
  display: inline-block;
}
.antbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  right: -50px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  font-size: 20px;
  box-shadow: 8px 5px 10px black;

}
.stag {
  width: 50%;
  float: right;
  display: inline-block;
}
.stagbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  left: 80px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  box-shadow: 8px 5px 10px black;
  font-size: 20px;
}
.dung {
  width: 50%;
  display: inline-block;
}
.dungbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  right: -50px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  font-size: 20px;
  box-shadow: 8px 5px 10px black;
}
.tortoise {
  width: 50%;
  display: inline-block;
  float: right;
}
.tortbtn{
  text-decoration: none;
  color: black;
  position: relative;
  top: -60px;
  padding: .5em 1em;
  border-radius: 8px;
  background-color: green;
  text-align: center;
  left: 80px;
  background-image: linear-gradient(to bottom, #00ff02, #00af07);
  box-shadow: 8px 5px 10px black;
  font-size: 20px;

}
footer{
  padding: 2em;
  background-color: #512200;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
  opacity: .5;

}
.bottombug{
  color: black;
}
